body {background-color: sienna; color: white; text-decoration-style: wavy;font-family: sans-serif;text-align: center;}
h1 {font-style: normal;color: grey;font-family: Century;}
h2 {color: black; font-style: italic;text-decoration: underline;text-decoration-color: chocolate}
h3 {color: black;font-style: normal;float:center; border: 5px; border-color: grey; border-style: ridge;background-color: #FFFFFF; border-width: thick;}
.part1 {line-height: 10px;background-color: white;padding-bottom: 10px;border-color: grey; border-style: ridge;border-width: thick;}
.part1 {background-image:  Images/code.jpg; width:"250" length "250"}
