img{float: center; background-color: white;}
body {text-align: center;:}
body {font-family: cursive;}
body {background-color: grey}
h1 {font-style: normal;}
h2 {font-style: italic;}
h3 {font-style: normal;}
